// Настройка width и height на сайте,чтобы они задавали размеры блока,а не контента
*, *:before, *:after
    box-sizing: border-box
// Переменная 1rem для текста сайта
html
    font-size: 14px
// Настройка элементов всего сайта
body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
    // 14px
img
    max-width: 100%
// Настройка секций на сайте
.section
    padding: 60px
    // Настройка положения оглавления секции
    &-title
        text-align: center
        text-transform: uppercase
        font-family: 'Yeseva One',cursive
        // Настройка положения картинки в оглавлении секции
        &__image
            display: flex
            justify-content: center
            align-items: center
            // Декоративные полосы около картинки в оглавлении секции
            &::after, &::before
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin: 0 10px
